.achievements {
    // box model
    display: flex;
    justify-content: center;

    @include atTablet {
        // box model
        justify-content: flex-start;
    }
}

.achievements__item {
    // box model
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

.achievements__item img {
    // box model
    height: 100%;
    width: 100%;
}

.achievements__text {
    // box model
    max-width: 100px;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 0.85rem;
    font-weight: 900;
}

.achievements__text em {
    // typography
    color: $golden;
    font-style: normal;
}