.arrivals-item {

}

.arrivals-item__image {
    // box model
    display: inline-block;
    width: 250px;
    height: 305px;
    margin-bottom: 60px;

    // typography
    text-align: center;

    // visual
    background-color: #eeeded;
}

.arrivals-item__image img {
    // box model
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.arrivals-item__text {
    // box model
}

.arrivals-item__name {
    // box model
    margin: 0;
    margin-bottom: 25px;

    // typography
    color: $black;
    font-family: $mainFont;
    font-weight: 500;
}

.arrivals-item__name span {
    // typography
    color: $silver;
}

.arrivals-item__price {
    // box model
    margin: 0;

    // typography
    color: $silver;
    font-family: $roboto;
    font-size: 1.2rem;
    font-weight: 600;
}