.blog {
    // box model
    margin-bottom: 190px;
    padding: 0 215px;
}

.blog__header {
    // box model
    margin-bottom: 85px;

    // typography
    text-align: center;
}

.blog__content {
    // box model
    display: flex;
    justify-content: space-between;
}

.blog__image {
    // positioning
    position: relative;

    // box model
    max-width: 430px;

    // visual
    border: 10px solid $white;
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
}

.blog__image::after {
    content: '';

    // positioning
    position: absolute;
    bottom: -100px;
    right: -100px;
    z-index: -1;

    // box model
    width: 295px;
    height: 390px;

    // visual
    background-color: $spray;
}

.blog__image img {
    // box model
    width: 100%;
    height: 100%;
}

.blog__descripton {
    // box model
    max-width: 525px;
}

.blog__title {

}

.blog__button {
    // box model
    margin-top: 65px;

    // typography
    text-align: right;
}