.branch {
    // typography
    text-align: center;
}

.branch__stats {
    // box model
    margin-bottom: 30px;
}

.branch__address {
    // typography
    font-size: 0.8rem;
}

.branch__stat {
    // box model
    margin: 0;

    // typography
    letter-spacing: 0.025em;
    line-height: 1.5;
    text-transform: uppercase;
}

.branch__stat em {
    // typography
    color: $golden;
    font-style: normal;
}

.branch__desc {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.branch__value {
    // box model
    margin: 0;
    margin-bottom: 20px;

    // typography
    font-size: 2rem;
    line-height: 2;
}

.branch__note {
    // box model
    margin: 0;

    // typography
    font-size: 0.8rem;
}

