.button {
    // positioning
    position: relative;

    // box model
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 180px;
    margin-bottom: 20px;
    padding: 0 20px;

    // typography
    color: $black;
    font-family: $mainFont;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.065rem;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    background-color: $spray;
    border: 2px solid $spray;
    transition: all 0.25s ease-out;

    &--form {
        // typography
        line-height: 46px;
    }
}

.button::before {
    content: "";

    // positioning
    position: absolute;
    right: 5px;
    top: 5px;

    // box model
    height: 40px;
    width: 180px;

    // visual
    border: 2px solid $spray;
}

// .button:active {
//     // visual
//     transform: translate(-5px, 5px);
//     transition: all 0.25s ease-out;
// }

.button a {
    // visual
    text-decoration: none;
}
