.button {
    // box model
    display: inline-block;
    vertical-align: top;
    min-width: 150px;
    margin-bottom: 20px;
    padding: 0 20px;

    // typography
    color: $black;
    font-family: $mainFont;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.065rem;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    background-color: $spray;
    border: 2px solid $spray;
    transition: all 0.25s ease-out;

    &--form {
        // typography
        line-height: 46px;
    }
}

.button a {
    // visual
    text-decoration: none;
}
