.call {
    // positioning
    position: relative;
    transform: skewY(-15deg);

    // box model
    width: 220px;
    margin-left: auto;
    margin-right: -20px;
    padding: 15px 21px;

    // typography
    color: $white;
    font-family: $titleFont;
    font-size: 2rem;
    line-height: 1;
    text-align: right;

    // visual
    background-color: $golden;

    // @include atTablet {
    //     // box model
    //     max-width: inherit;
    //     width: 350px;
    // }

    // @include atDesktopL {
    //     // box model
    //     width: 500px;
    // }
}

.call small {
    // box model
    display: block;

    // typography
    color: $dark;
    font-size: 0.75em;
}

.call strong {
    // box model
    display: block;

    // typography
    font-size: 1.5em;
}

.call__rub {
    // positioning
    position: relative;
}

.call__rub::after {
    content: "";

    // positioning
    position: absolute;
}

.call__title {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    margin: 0;
    margin-bottom: 0.25em;
    padding: 20px;
    padding-top: 40px;

    // typography
    color: $white;
    font-family: $titleFont;
    font-size: 2.5rem;
    line-height: 1.25;

    // visual
    background-color: $golden;
    box-shadow: -15px 10px 40px -10px rgba($dark, 0.5);
    text-shadow: -3px 2px 0 $darkGold;
    
    @include atTablet {
        // box model
        padding: 20px 40px;
        
        // typography
        font-size: 3rem;
        
        // visual
        box-shadow: -5px 10px 15px 0 rgba($dark, 0.25);
        text-shadow: -4px 3px 0 $darkGold;
    }

    @include atDesktopL {
        // box model
        padding: 25px 50px;
        padding-left: 120px;

        // typography
        font-size: 3.5rem;
    }
}

// grunge decorative element
.call::before {
    content: '';

    // positioning
    position: absolute;
    left: -20px;
    top: 0;
    z-index: -1;
    transform: rotateY(180deg);

    // box model
    height: 100%;
    width: 20px;

    // visual
    background-image: url('./img/deco/gold-v-grunge.svg');
    background-size: 60px;
    background-repeat: repeat-y;
    background-position: bottom right;
}
