.call {
    // positioning
    position: relative;
    transform: skewY(-15deg);

    // box model
    padding: 15px 21px;

    // typography
    color: $white;
    font-family: $titleFont;
    font-size: 2rem;
    line-height: 1.05;
    text-align: right;

    // visual
    background-color: $golden;
    text-shadow: -2px 2px 0 $darkGold;
    box-shadow: -15px 10px 40px -10px rgba($dark, 0.5);

    // @include atTablet {
    //     // box model
    //     max-width: inherit;
    //     width: 350px;
    // }

    // @include atDesktopL {
    //     // box model
    //     width: 500px;
    // }
}

.call small {
    // box model
    display: block;

    // typography
    color: $dark;
    font-size: 0.75em;

    // visual
    text-shadow: -1px 1px 0 rgba($white, 0.5);
}

.call strong {
    // box model
    display: block;

    // typography
    font-size: 1.5em;
}

.call__rub {
    // positioning
    position: relative;
}

.call__rub::after {
    content: "";

    // positioning
    position: absolute;
    bottom: 14px;
    left: 1px;

    // box model
    height: 3px;
    width: 12px;

    // visual
    background-color: $white;
}

.call__rub::before {
    content: "";

    // positioning
    position: absolute;
    bottom: 12px;
    left: -1px;
    z-index: -2;

    // box model
    height: 3px;
    width: 12px;

    // visual
    background-color: $darkGold;
}

.call__title {
    // visual
    background-color: $golden;
    text-shadow: -3px 2px 0 $darkGold;
}

// grunge decorative element
.call::before {
    content: '';

    // positioning
    position: absolute;
    left: -20px;
    top: 0;
    z-index: -1;
    transform: rotateY(180deg);

    // box model
    height: 100%;
    width: 25px;

    // visual
    background-image: url('./img/deco/gold-v-grunge.svg');
    background-size: 60px;
    background-repeat: repeat-y;
    background-position: bottom right;
}
