.card {
    // box model
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    // border
    border: 1px solid rgba($golden, 0.25);
    border-radius: 10px;
    
    // visual
    background-color: $white;
}

.card__title {
    // box model
    display: inline-block;
    padding: 10px;
    // width: 140px;

    // typography
    color: $white;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-align: center;
    text-transform: uppercase;

    // visual
    background-color: $golden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card__content {
    // box model
    padding: 10px;
}
