.collection {
    // box model
    margin-bottom: 100px;
    padding: 0 215px;
}

.collection__content {
    // box model
    display: flex;
    justify-content: space-between;
}

.collection__header {
    // box model
    max-width: 550px;
    padding-top: 155px;
}

.collection__button {
    // box model
    margin-top: 50px;
}

.collection__wrapper {
    // box model
    padding: 10px;

    // visual
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
}

.collection__image {
    // visual
    background-color: #fde7ed;
}

.collection__image img {

}