.collection {
    // box model
    margin-bottom: 100px;
    padding: 0 215px;
}

.collection__content {
    // box model
    display: flex;
}

.collection__header {
    // box model
    max-width: 550px;
    padding-top: 155px;
}

.collection__button {

}

.collection__image {

}

.collection__image img {

}