.content {
    
}

.content h3 {
    // typography
    font-family: $titleFont;
    font-size: 1.5rem;
}

.content p {
    // box model
    margin: 0;
    margin-bottom: 1em;

    // typography
    line-height: 1.75;
}

.content p em {
    // typography
    color: $golden;
    font-style: normal;
    font-weight: 700;
}
