.feature {
    border: 2px dashed fuchsia;

    // box model
    min-height: 300px;
    margin-bottom: 60px;
    padding: 30px;

    // visual
    transition: all 0.25s ease-out;

    // border
    border-radius: 10px;
}

.feature:hover {
    // visual
    background-color: #333333;

    .feature__icon {
        // border
        border-bottom: 2px solid $golden;
    }

    .feature__icon svg {
        // positioning
        bottom: 0;

        // visual
        fill: $golden;
    }

    .feature__title {
        // typography
        color: $white;
    }

    .feature__desc {
        // typography
        color: $golden;
    }
}

.feature__icon {
    // positioning
    position: relative;

    // box model
    height: 130px;
    width: 160px;
    margin-bottom: 30px;
    // padding-right: 60px;

    // visual
    overflow: hidden;

    // border
    border-bottom: 2px solid $greyIcon;
}

.feature__icon svg {
    // positioning
    position: absolute;
    left: 10px;
    bottom: -15px;
    transform: rotate(-15deg);

    // box model
    height: 120px;
    width: 120px;

    // visual
    fill: $greyIcon;
    transition: all 0.25s ease-out;
}

.feature__title {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 3rem;

    // visual
    transition: all 0.25s ease-out;
}

.feature__desc {
    // box model
    margin: 0;

    // visual
    transition: all 0.25s ease-out;
}
