.feature {
    // positioning
    position: relative;

    // box model
    margin-bottom: 40px;
    padding-left: 80px;

    // visual
    transition: all 0.25s ease-out;

    @include atTablet {
        // box model
        flex-basis: 45%;
    }

    @include atDesktopS {
        // box model
        min-height: 300px;
        margin-bottom: 60px;
        padding: 30px;
    }
}

.feature:hover {
    @include atDesktopS {
        // visual
        background-color: #333333;
    
        .feature__icon {
            // border
            border-bottom: 2px solid transparent;
        }
    
        .feature__icon svg {
            // positioning
            bottom: 0;

            // visual
            fill: $golden;
        }
    
        .feature__title {
            // typography
            color: $white;
        }
    
        .feature__desc {
            // typography
            color: $golden;
        }
    }
}

.feature__icon {
    // positioning
    position: absolute;
    left: 3px;
    top: 0;

    // box model
    height: 60px;
    width: 60px;

    // visual
    transition: all 0.15s ease-out;

    @include atDesktopS {
        position: relative;

        // box model
        height: 130px;
        width: 160px;
        margin-bottom: 30px;

        // visual
        overflow: hidden;

        // border
        border-bottom: 2px solid $greyIcon;
    }
}

.feature__icon svg {
    // visual
    fill: $greyIcon;
    transition: all 0.25s ease-out;

    @include atDesktopS {
        // positioning
        position: absolute;
        left: 10px;
        bottom: -15px;
        transform: rotate(-15deg);

        // box model
        height: 120px;
        width: 120px;
    }
}

.feature__title {
    // box model
    margin: 0;
    margin-bottom: 0.25em;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.25rem;
    line-height: 1.25;

    // visual
    transition: all 0.25s ease-out;

    @include atDesktopS {
        // typography
        font-size: 3rem;
    }
}

.feature__title strong {
    // typography
    font-size: 1.5em;
}

.feature__desc {
    // box model
    margin: 0;

    // typography
    line-height: 1.5;

    // visual
    transition: all 0.25s ease-out;
}
