.form {

}

.form__legend {

}

.form__cta {
    // box model
    margin: 0;
    margin-bottom: 30px;

    // typography
    color: $silver;
    font-family: $mainFont;
}

.form__wrapper {
    // box model
    display: flex;
}

.form__input-group {

}

.form__input {
    // box model
    height: 50px;
    width: 300px;
    margin-right: 10px;

    // typography
    text-align: center;

    // visual
    border: 1px solid rgba($silver, 0.1);
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
    color: $silver;
}

.form__submit-btn {
    // box model
    display: block;
    width: 100%;

    // visual
    cursor: pointer;
}