.header-caption {
    // box model
    margin-bottom: 15rem;
    padding-left: 100px;
}

.header-caption__title {
    // box model
    margin: 0;

    // typography
    font-family: $roboto;
    font-size: 9rem;
    font-weight: 700;
}

.header-caption__button {
    // positioning
    position: relative;
    z-index: 9;
    
    // box model
    padding-left: 130px;
}