.header {
    // box model
    padding: 20px;
    margin-bottom: 50px;

    // visual
    overflow-x: hidden;
}

.header__top {
    // positioning
    position: relative;

    // box model
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-right: 50px;
}

.header__logo {
    // box model
    width: 95px;
}

.header__logo svg {
    // box model
    max-height: 100%;
    max-width: 100%;
}

.header__menu {
    // positioning
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 777;

    // box model
    width: 100%;

    // visual
    opacity: 0.9;
    transition: all 0.3s ease-out;

    &--hidden {
        // positioning
        right: -110%;
    }

    @include atDesktopS {
        // positioning
        position: absolute;
        top: 0;
        left: 125px;
        
        // visual
        visibility: visible;
        opacity: 1;
    }

    @include atDesktopM {
        // positioning
        left: 260px;
    }

    @include atDesktopL {
        // positioning
        left: 320px;
    }

    @include atFullHD {
        // positioning
        left: 400px;
    }
}

.header__city-select {

}

.header__content {
    // positioning
    position: relative;

    // box model
    padding-top: 40px;
}

.header__shadow-text {
    // positioning
    position: absolute;
    left: -10vw;
    top: 0;
    z-index: -1;

    // box model
    margin: 0;
    padding: 0;

    // typography
    color: $shadowWhite;
    font-size: 15vw;
    font-weight: 900;
    line-height: 0.9;
    text-transform: uppercase;
}

.header__shadow-text strong {
    // typography
    font-size: 1.5em;
}

.header__caption {

}

.header__button {
    // box model
    margin-top: 20px;
}

.header__aside {
    // box model
    margin-bottom: 60px;
}

.header__achievements {

}
