.header {
    // positioning
    position: relative;

    // box model
    height: 100vh;
    min-height: 600px;
    max-height: 900px;
    margin-bottom: 100px;
    padding: 60px;

    // padding-bottom: 90px;
    // padding-left: 120px;
    // padding-right: 45px;
    // padding-top: 60px;

    // visual
    background-color: rgb(232,232,232);
    background-image: linear-gradient(75deg, rgba(232,232,232,1) 50%, rgba(130,244,211,1) 50%);
}

.header__container{
    // box model
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.header__top {
    // box model
    // padding-left: 150px;
}

.header__slider {
    // box model
    height: 100%;
    border: 2px dashed fuchsia;
}

.header__socials {
    // positioning
    position: absolute;
    bottom: 60px;
    right: 60px;
}

.header__menu {
    // box model
    display: none;
}
