.history {
    // positioning
    position: relative;
}

.history__timeline {
    @include atTablet {
        // box model
        padding-top: 40px;
        width: 320px;
    }
}

.history__text {

}

.history__ceo {
    // box model
    display: none;

    @include atTablet {
        // positioning
        position: absolute;
        right: 40px;
        top: 50px;

        // box model
        display: block;
        width: 350px;
        // width: calc(100% - 430px);
        // max-width: 380px;
    }
}
