.history {
    // positioning
    position: relative;
}

.history__timeline {
    @include atTablet {
        // box model
        padding-top: 40px;
        width: 350px;
    }
}

.history__text {

}

.history__ceo {
    // box model
    display: none;

    @include atTablet {
        // positioning
        position: absolute;
        right: 40px;
        top: 0;

        // box model
        display: block;
        width: 350px;
        width: calc(100% - 430px);
        max-width: 400px;
    }
}
