.logo {
    // positioning
    position: relative;

    // box model
    // display: flex;
    margin: 0;
    vertical-align: middle;

    // typography
    color: $spray;
    font-family: $logoFont;
    font-size: 1.5rem;
    text-decoration: none;
}

.logo span {
    // typography
    color: $black;
}

.logo::before {
    content: '';
    // box model
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    margin-top: -5px;
    margin-right: 5px;

    // visual
    background-image: url('./img/logo.svg');
    background-repeat: no-repeat;
}