.main-nav {
    // positioning
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // box model
    align-items: center;

    // visual
    background-color: $black;

    @include atDesktopS {
        // positioning
        position: relative;
        
        // box model
        justify-content: flex-start;

        // visual
        background-color: transparent;
    }
}

.main-nav__list {
    // box model
    display: flex;
    flex-direction: column;
    margin: 0;

    @include atDesktopS {
        // box model
        flex-direction: row;
        justify-content: flex-start;
    }
}

.main-nav__list::after {
    content: "";

    // box model
    display: inline-block;
    width: 90%;
    height: 1px;

    // typography
    background-color: $greyIcon;
    text-align: center;

    @include atDesktopS {
        // box model
        display: none;
    }
}

.main-nav__item {
    // box model
    margin: 20px;

    // typography
    text-align: center;

    // visual
    list-style-type: none;

    @include atDesktopS {
        // box model
        margin: 0;
    }
}

.main-nav__link {
    // box model
    margin-right: 50px;
    
    // typography
    color: $white;
    font-family: $titleFont;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    transition: all 0.25s ease-out;

    @include atDesktopS {
        // typography
        color: $black;
        font-size: 1.125rem;
    }

    @include atDesktopM {
        // typography
        font-size: 1.25rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1.5rem;
    }
}

.main-nav__link:hover {
    color: $golden;
}

.main-nav__text {
    // box model
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    @include atDesktopS {
        // box model
        display: none;
    }
}