.oldboy-logo {
    // box model
    display: flex;
}

.oldboy-logo__image {
    // box model
    flex-basis: 50%;
    margin-right: 10px;
    width: 150px;
}

.oldboy-logo__text {
    // box model
    flex-basis: 50%;
    max-width: 45%;
    margin: 0;
    
    // typography
    font-family: $titleFont;
    font-size: 3.2vw;
    line-height: 1.5;
    text-transform: uppercase;
}

.oldboy-logo__text::before {
    content: "";

    // box model
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 5px;

    // visual
    background-image: linear-gradient(to right, rgba($golden, 0.55), rgba($golden, 0.75), rgba($golden, 1));
}

.oldboy-logo__text::after {
    content: "";

    // box model
    display: block;
    width: 160%;
    height: 3px;
    margin-left: -60%;
    margin-top: 5px;

    // visual
    background-image: linear-gradient(to right, rgba($golden, 0.25), rgba($golden, 0.75), rgba($golden, 1));
}