.photo {

}

.photo img {
    // box model
    width: 100%;
}

.photo__caption {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    margin-top: -40px;
    padding: 10px 10px;

    // typography
    text-align: right;

    // border
    border-top: 2px solid $darkGold;
}

.photo__title {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.5rem;
}

.photo__desc {

}
