.sales-contact {
    // box model
    display: inline-block;
    vertical-align: top;
    width: 100%;
    // border: 2px dashed fuchsia;

    // typography
    font-family: $titleFont;
    font-size: 2.4vw;
}

.sales-contact__title {
    // box model
    margin: 0;

    // typography
    font-size: 2em;

    @include atTablet {
        // typography
        font-size: 1em;
    }
}

.sales-contact__phone {
    // typography
    color: $golden;
    font-size: 5em;
    text-decoration: none;

    // visual
    transition: opacity 0.15s ease-out;
}

.sales-contact__phone:hover {
    // visual
    opacity: 0.5;
}

.sales-contact__name {
    // box model
    margin: 0;

    // typography
    font-size: 2em;
    text-align: right;

    @include atTablet {
        // typography
        font-size: 1em;
    }
}

.sales-contact__name::before {
    content: "— "
}
