.saving-promo {
    // typography
    font-family: $mainFont;
    text-align: center;
}

h3.saving-promo__title {
    // box model
    margin: 0;
    
    // typography
    font-size: 1rem;
    line-height: 1.5;
}

h3.saving-promo__title em {

}

.saving-promo__value {
    // typography
    color: $golden;
    font-family: $mainFont;
    font-size: 15vw;
    font-weight: 900;
}

.saving-promo__subtitle {
    // typography
    text-transform: uppercase;
}
