.section {
    // box model
    margin-bottom: 60px;
}

.section__header {
    // box model
    margin-bottom: 60px;


    @include atTablet {
        // box model
        margin-bottom: 160px;
    }
}

.section__content {
    // box model
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}