.stage-list {
    
}


.stage-list__header {
    
}

.stage-list__content {
    // positioning
    position: relative;

    // box model
    padding: 20px;
}

.stage-list__content::before {
    content: "";

    // positioning
    position: absolute;
    left: 0;
    top: 0;

    // box model
    display: block;
    height: 100%;
    width: 2px;

    // visual
    background-image: linear-gradient(rgba(#f2e2c9, 0.8), rgba(#f2e2c9, 1), rgba(#f2e2c9, 1), rgba(#f2e2c9, 1), rgba(#f2e2c9, 0.8));
}