.stage-item {

}

.stage-item__header {

}

.stage-item__title {
    // positioning
    position: relative;

    // typography
    color: $golden;
    letter-spacing: 0.025em;
    text-transform: none;
    font-size: 1.5rem;
    font-weight: 900;
}

.stage-item__title::before {
    content: "";

    // positioning
    position: absolute;
    left: -22px;
    top: 0.5em;

    // box model
    display: block;
    height: 6px;
    width: 6px;

    // visual
    background-color: $golden;

    // border
    border-radius: 50%;
}

.stage-item__subtitle {

}

.stage-item__content {

}

.stage-item__input {
    // box model
    display: none;
}

.stage-item__input + label {
    // positioning
    position: relative;

    // box model
    display: block;
}

.stage-item__input + label::after {
    content: "V";
    
    // positioning
    position: absolute;
    bottom: 0;
    right: 0;
    
    // box model
    display: block;
    height: 20px;
    width: 20px;
}

.stage-item__input + label + p {
    // box model
    display: none;
}

.stage-item__input:checked + label + p {
    display: block;
    background: #efefef;
    padding:5px;
  }