// colors
$greyIcon: #a8acb9;
$black: #000000;
$dark: #4f5362;
$white: #ffffff;
$golden: #d6a354;
$darkGold: #896322;
$shadowWhite: #f7f7f7;


// fonts
$mainFont: 'Montserrat', Arial, Helvetica, sans-serif;
$titleFont: 'Rex', Arial, Helvetica, sans-serif;
$displayFont: 'Rex Bold Inline', Arial, Helvetica, sans-serif;
