// colors
$greyIcon: #a8acb9;
$black: #000000;
$dark: #131313;
$light: #ffffff;
$golden: #d6a354;
$darkGold: #896322;




// fonts
$mainFont: 'Montserrat', Arial, Helvetica, sans-serif;
$titleFont: 'Rex', Arial, sans-serif;
$displayFont: 'Rex Bold Inline', Arial, sans-serif;