<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Oldboy Franchise
        link(rel="stylesheet", href="styles.css")

    body
        header.header
            .header__top
                .header__logo: img(src="./img/family-logo.svg", alt="Логотип Oldboy Family")

                .header__menu.header__menu--hidden
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item: a(href="#").main-nav__link Главная
                            li.main-nav__item: a(href="#history").main-nav__link О нас
                            li.main-nav__item: a(href="#pricing").main-nav__link Стоимость
                            li.main-nav__item: a(href="#advantages").main-nav__link Преимущества
                            li.main-nav__item: a(href="#statistics").main-nav__link Статистика

                .header__city-select
                    a(href="choose-city.html").city-select Топ города&nbsp;<span class="city-select__triangle">▼</span> <br><em>для открытия <br>барбершопа</em>

                .menu-button.menu-button--close
                    .menu-button__middle

            .header__content
                p.header__shadow-text франшиза <br><strong>Oldboy</strong> <br>barbershop
                .header__caption
                    h1.header-caption <strong>Открой</strong> <br><em>свою мужскую</em> парикмахерскую
                    
                    .header__button
                        a.button(href="#") Узнать подробнее

                aside.header__aside
                    h2.call <small>Начни&nbsp;зарабатывать</small> <strong>200&nbsp;000&nbsp;<span class="call__rub">Р</span></strong> в&nbsp;месяц

                .header__achievements
                    .achievements
                        .achievements__item: img(src="./img/medals/be-boss-2017.jpg", alt="Прорыв года 2017 БиБосс")
                        .achievements__item: img(src="./img/medals/top-100.jpg", alt="Топ 100 франшиз БиБосс")
                        p.achievements__text Oldboy barbershop <em>Франшиза для тех, кто хочет большего</em>

        main
            section.section#history
                .section__header
                    header.section-header
                        h2.section-header__title Немного <br>истории
                        p.section-header__subtitle Oldboy Barbershop


                .section__content
                    p.section__shadow-text <strong>Oldboy</strong> barbershop <br>Стрижём и бреем

                    dl.timeline
                        dt.timeline__date EST. 2014
                        dd.timeline__desc <strong>Открытие первого филиала в&nbsp;Калининграде</strong>

                        dt.timeline__date 2015
                        dd.timeline__desc <strong>Год запуска франчайзинга</strong>

                        dt.timeline__date 2018-2019
                        dd.timeline__desc <strong>К нам присоединились:</strong> Киргизия, Кипр, Сербия, Грузия, Испания, Туркменистан, Азербайджан, Черногория и Польша.

                    .content
                        h3 Oldboy Barbershop
                        p — это крупнейшая международная сеть мужских парикмахерских. <em>Мы выиграли престижную премию Beboss «Прорыв года 2017» как самая быстроразвивающаяся франшиза</em>, и&nbsp;сегодня входим в ТОП-100 франшиз в&nbsp;их&nbsp;рейтинге.
                        p Мужские стрижки и бритье — наша специализация, работы наших мастеров оценены по достоинству каждым, кто приходит в OldBoy. Здесь нет праздных разговоров ни о чем, здесь царит атмосфера брутальности и мужского духа, вдохновлённая европейскими стандартами качества и стиля.
                        p <em>Совсем скоро произойдёт нрандиозное открытие нового филиала сети за&nbsp;океаном - в Лос Анджелесе (США).</em>

            section.section#numbers
                .section__header
                    header.section-header
                        h2.section-header__title Oldboy <br>в&nbsp;цифрах
                        p.section-header__subtitle Статистика за 2019 год

                //- .section__content
                    p.featured-text Крупнейшая международная сеть мужских парикмахерских

                    210
                    открыто

                    +87
                    в этом году

                    35
                    готовится

                    245
                    Филиалов сети Oldboy Barbershop

                    Количество филиалов сети
                    245 +87

                    Количество стан
                    13 +2

                    Количество городов
                    130 +20

            section.section#pricing
                .section__header
                    header.section-header
                        h2.section-header__title Стоимость <br>франшизы
                        p.section-header__subtitle В 2019 году


                .section__content
                    p.section__shadow-text.shadow-text--dark $$$

                    .sales-contact
                        h3.sales-contact__title Отдел продаж франшизы Oldboy
                        a.sales-contact__phone(href="tel:+79118660079") +7 (911) 866-00-79
                        p.sales-contact__name Ирина

                    .content
                        h3 Паушуальный взнос:

                        .indicator
                            .indicator__value 500&nbsp;000&nbsp;<small>₽</small>
                            .indicator__desc для городов с&nbsp;населением<br> <em>до 100 тыс. человек</em>
                            .indicator__icon: img(src="./img/icons/building.svg", alt="")

                        .indicator
                            .indicator__value 600&nbsp;000&nbsp;<small>₽</small>
                            .indicator__desc для городов с&nbsp;населением<br> <em>до 1 млн. человек</em>
                            .indicator__icon: img(src="./img/icons/skyline.svg", alt="")

                        .indicator
                            .indicator__value 800&nbsp;000&nbsp;<small>₽</small>
                            .indicator__desc <em>для города-милионника</em>
                            .indicator__icon: img(src="./img/icons/cityscape.svg", alt="")


                        .card
                            .card__title Moscow
                            .card__content
                                .indicator.indicator--card
                                    .indicator__value 1&nbsp;000&nbsp;000&nbsp;<small>₽</small>
                                    .indicator__desc Для открытия барбершопа<br> <em>в&nbsp;Москве</em>
                                    .indicator__icon: img(src="./img/icons/kremlin.svg", alt="")

                        .card
                            .card__title Эксклюзив
                            .card__content
                                .indicator.indicator--card
                                    .indicator__value +&nbsp;100&nbsp;000&nbsp;<small>₽</small>
                                    .indicator__desc Приобритение <em>«Эксклюзива»</em> на&nbsp;город
                                    .indicator__note Никто, кроме вас, не&nbsp;сможет открыть Oldboy в&nbsp;том&nbsp;же&nbsp;городе

            section.section#advantages
                .section__header
                    header.section-header
                        h2.section-header__title Наши <br>преимущества
                        p.section-header__subtitle Плюсы франшизы

                .section__content
                    .feature
                        .feature__icon: img(src="./img/icons/design-tool.svg", alt="")
                        h3.feature__title <strong>Эксклюзивный</strong> <br>дизайн
                        p.feature__desc Неповторимая атмосфера брутального барбершопа

                    .feature
                        .feature__icon: img(src="./img/icons/investment.svg", alt="Иконка быстрой окупаемости")
                        h3.feature__title Быстрая <br><strong>окупаемость</strong>
                        p.feature__desc Мы легко и быстро проходим точку безубыточности

                    .feature
                        .feature__icon: img(src="./img/icons/barbershop.svg", alt="Иконка открытой торговой точки")
                        h3.feature__title <strong>Ни одной</strong> <br>закрывшейся точки
                        p.feature__desc (данные от 30&nbsp;апреля&nbsp;2019)

                    .feature
                        .feature__icon: img(src="./img/icons/premium.svg", alt="Иконка узнаваемого и развивающегося бренда")
                        h3.feature__title <strong>Узнаваемый</strong> <br>развивающийся бренд
                        p.feature__desc Уникальный дизайн, единый стиль оформления

                    .feature
                        .feature__icon: img(src="./img/icons/laurel.svg", alt="Иконка лояльного роялти")
                        h3.feature__title <strong>Самый лояльный</strong> <br>роялти
                        p.feature__desc 5% от оборота услуг, но&nbsp;не&nbsp;выше 30&nbsp;000&nbsp;₽

                    .feature
                        .feature__icon: img(src="./img/icons/razor.svg", alt="Иконка брутальной атмосферы барбершопа")
                        h3.feature__title <strong>Атмосфера</strong> <br>брутального барбершопа
                        p.feature__desc Проверенный временем имидж, стабильная аудитория

                    .feature
                        .feature__icon: img(src="./img/icons/tattoo.svg", alt="Иконка тату-студии")
                        h3.feature__title <strong>Тату-студия</strong>
                        p.feature__desc Без ваших вложений (по желанию)

                    .feature
                        .feature__icon: img(src="./img/icons/resume.svg", alt="Иконка качественного сервиса")
                        h3.feature__title <strong>Качественный</strong> <br>сервис и&nbsp;лучшие кадры
                        p.feature__desc Квалифицированные мастера и&nbsp;персонал

            section.section#approach
                .section__header
                    header.section-header
                        h2.section-header__title Ваш <br>барбершоп
                        p.section-header__subtitle Индивидуальный подход

                .section__content
                    .content
                        h3 Индивидуальный подход к&nbsp;каждому филиалу
                        p При открытии нового барбершопа мы <em>учитываем не только местоположение и&nbsp;проходимость локации, но&nbsp;и&nbsp;внимательно изучаем её внутренние особенности</em>. И хотя не&nbsp;бывает двух одинаковых барбершопов, как не&nbsp;бывает двух одинаковых людей, мы заботимся о&nbsp;том, чтобы во всех них вам было одинаково комфортно и хорошо.
                        p У каждой площадки в каждом городе есть свои преимущества и особый шарм, поэтому <em>наш дизайнер интерьера при всяком новом сотрудничестве создаёт с&nbsp;нуля уникальный проект барбершопа</em>. Оценив планировку и внешний вид выбранного места, он зонирует и&nbsp;максимально эргономично располагает в&nbsp;проекте интерьера всё необходимое для работы: от количества кресел и&nbsp;осветительных приборов до&nbsp;сантехники и&nbsp;фешенебельной лаунж-зоны.
                        p Любое ваше пожелание будет принято во&nbsp;внимание. <em>Вне зависимости от величины и&nbsp;изначального состояния помещения каждый барбершоп OldBoy будет максимально функциональным и красивым</em>.

                        h3.featured-title Как будет выглядеть ваш&nbsp;барбершоп
                        p.featured-subtitle Примеры дизайн-проектов наших филиалов

                .family
                    //- logo: img(src="", alt="Логотип Oldboy Family")
                    .content
                        h3.featured-title Welcome to the family
                        p.featured-subtitle Добро пожаловать в&nbsp;семью
                        p <em>В начале сотрудничества каждый франчайзи получает экземпляр Руководства, в&nbsp;котором подробно описаны не&nbsp;только этапы открытия барбершопа</em>, но&nbsp;также представлены контакты сотрудников команды OldBoy. При необходимости он&nbsp;в&nbsp;любой момент может обратиться за&nbsp;помощью или&nbsp;советом по&nbsp;интересующему его вопросу или проблеме. Но это не&nbsp;единственный способ найти поддержку.
                        p Обмениваясь <em>опытом во&nbsp;внутренних чатах OldBoy Family, владельцы филиалов поддерживают связь друг с&nbsp;другом, обсуждая как рабочие моменты, так и&nbsp;налаживая дружеское общение</em>. Они могут порекомендовать новичку наиболее эффективные способы продвижения, поделиться с&nbsp;ним опытом или просто подбодрить, потому что знают&nbsp;—&nbsp;чем нас больше, тем мы&nbsp;сильнее.

            section.section#statistics
                .section__header
                    header.section-header
                        h2.section-header__title Наша <br>Статистика
                        p.section-header__subtitle Oldboy франшиза

                    //-     .section__content
                    //-         Общая выручка сети в 2018 году
                    //-         890 622 231
                    //-         рублей

                    //-         Общая выручка
                    //-         890 622 231 
                    //-         +125 345

                    //-         Количество филлилов сети
                    //-         245
                    //-         +87

                    //-         Партнёрская сеть
                    //-         230
                    //-         +20


            .section__content
                .content
                    h3 Сеть растёт и&nbsp;развивается
                    p Речь идёт не просто о&nbsp;росте количества филиалов, увеличении прибыли и&nbsp;открытиях в&nbsp;новых городах. <em>Франшиза OldBoy&nbsp;Barbershop это не&nbsp;только деньги, безупречный стиль или бизнес-схема — прежде всего, это репутация на международном и&nbsp;внутреннем рынке</em>. OldBoy Barbershop — узнаваемый и&nbsp;уважаемый бренд. Если рекламу и&nbsp;популярность можно купить, то&nbsp;статус и&nbsp;престиж стабильной компании можно только заработать.
                    p Мы заботимся о&nbsp;том, что о&nbsp;нас говорят, и&nbsp;стремимся развиваться: и&nbsp;внешне, и&nbsp;внутренне. Мы всегда открыты к диалогу, с&nbsp;готовностью прислушиваемся к&nbsp;новым предложениям и&nbsp;пожеланиям, и&nbsp;готовы стать лучше. Говорят, не&nbsp;нужно менять то,&nbsp;что уже работает, но&nbsp;мы считаем иначе: всё, что уже работает, можно улучшить и&nbsp;дополнить.


            section.section#partnership
                .section__header
                    header.section-header
                        h2.section-header__title Партнёрская сеть&nbsp;Oldboy
                        p.section-header__subtitle Работа с&nbsp;партнёрами

                .section__content
                    p.section__shadow-text.shadow-text--dark <strong>Сеть Oldboy</strong> Barbershop

                    .content
                        h3.no-competition <em>Нет</em> <strong>Внутренней</strong> конкуренции
                        p Разумеется, в&nbsp;любой сети существуют рейтинги и&nbsp;лидеры, в&nbsp;том числе и&nbsp;в&nbsp;OldBoy. <em>Каждый месяц мы публикуем список отличившихся филиалов с&nbsp;наибольшей прибылью или самым высоким темпом развития</em>. Но у&nbsp;нас это сводится исключительно к&nbsp;соревновательному элементу — ради спортивного интереса.
                        p <em>Мы строго следим за политикой минимальных цен, скидок и&nbsp;акций, не&nbsp;позволяя работать одному филиалу в&nbsp;ущерб другому</em>. Таким образом, все барбершопы, вышедшие в&nbsp;ТОП, демонстрируют высокую работоспособность, отличное качество сервиса и&nbsp;услуг, а&nbsp;также превосходные знания в&nbsp;области маркетинга.

                    .content
                        h3.featured-title Ежемесячные отчёты
                        p <em>Каждый месяц мы публикуем в закрытой группе франчайзи информацию о работе сети:</em>
                        p Динамика оборота, общий прирост клиентов, количество работающих барберов, а также пишем о запланированных нововведениях, прогрессе в работе команды поддержки, оботкрытии новых филиалов и успехах существующих. Кроме этого, мы составляем рейтинговые таблицы, с помощью которых филиалы OldBoy Barbershop могут оценить, насколько эффективна их работа, и к чему стоит стремиться.

                    .slider.slider--cards
                        .card
                            h4.card__title Ростов-на-дону
                            .card__content
                                .branch
                                    .branch__stats
                                        p.branch__address Ул. Красноармейская, 210
                                        p.branch__stat Дата открытия: <em>19.04.2017</em>
                                        p.branch__stat Инвестиции: <em>2 млн. руб</em>
                                        p.branch__stat Окупаемость: <em>10 мес.</em>
                                    .branch__gross
                                        p.branch__desc Выручка в марте 2019:
                                        p.branch__value 1 537 528 ₽
                                        p.branch__desc Чистая прибыль
                                        p.branch__note После уплаты налогов, аренды, зарплат:
                                        p.branch__value 430&nbsp;000 руб
                                    p.branch__stat Роялти: <em>30&nbsp;000 ₽</em>

                        .card
                            h4.card__title Cyprus, Limassol
                            .card__content
                                .branch
                                    .branch__stats
                                        p.branch__address 13-15 Grigori Afxentiou Street (Mesa Geitonia)
                                        p.branch__stat Дата открытия: <em>18.11.2017</em>
                                        p.branch__stat Инвестиции: <em>2 млн. руб</em>
                                        p.branch__stat Окупаемость: <em>8 мес.</em>
                                    .branch__gross
                                        p.branch__desc Выручка в марте 2019:
                                        p.branch__value 1 369 839 ₽
                                        p.branch__desc Чистая прибыль
                                        p.branch__note После уплаты налогов, аренды, зарплат:
                                        p.branch__value 390&nbsp;000 ₽
                                    p.branch__stat Роялти: <em>500 евро</em>

                    .content.content--center
                        h3 <em>Одинаковая успешность работы филиалов в&nbsp;небольших и&nbsp;крупных городах говорит о&nbsp;том, что мы на&nbsp;верном пути.</em>
                        p Мы уверены: зарабатывать можно где угодно, главное — правильно расставить приоритеты для открытия своего барбершопа, и искренне любить свое дело. А в остальном поможет OldBoy Family.

            section.section#team
                .section__header
                    header.section-header
                        h2.section-header__title Команда <br>Oldboy
                        p.section-header__subtitle Кадры решают всё!


                .section__content
                    p.section__shadow-text <strong>Наша команда</strong>

                    .content
                        h3 Люди — Центр нашего бизнеса
                        p Речь идёт не только о клиентах и заботе о том, чтобы им было комфортно в наших барбершопах, но и о людях, которые постоянно поддерживают на должном уровне скоординированную работу сети. <em>Команда OldBoy работает как единый, хорошо отлаженный механизм</em>. Наш штат из профессиональных веб-разработчиков, дизайнеров, копирайтеров, бухгалтеров, юристов и маркетологов готов поддержать вас во всем, а личный менеджер вашего филиала ответит на любые вопросы.

                        p.featured-text Поддержка партнёров во всех направлениях бизнеса

                        h3.featured-title Поддержка во всём
                        p Одно из главных преимуществ франшизы — систематизация и своевременная поддержка. При подписании договора каждый барбершоп получает личного менеджера, который оперативно отвечает на вопросы и помогает разобраться с любыми трудностями.
                        p Управляющая компания OldBoy Barbershop постоянно работает над улучшением сервиса поддержки существующих и новых филиалов ради повышения эффективности их деятельности. 
                        p <em>Консалтинг включает следующие составляющие:</em>

                    .content
                        .support-item
                            h3.support-item__title Аудит <br><small>и аналитика</small>
                            p.support-item__subtitle Текущего состояния

                        .support-item
                            h3.support-item__title Обучение <br><small>персонала</small>
                            p.support-item__subtitle в топовых филиалах

                        .support-item
                            h3.support-item__title Составление <br><small>медиаплана</small>
                            p.support-item__subtitle Разработка рекламной компании с применением всех инструментов (соцсети, РК директ, Google, партнёрка ТОП-10 по району)

                        .support-item
                            h3.support-item__title Обучение <br><small>yправленцев</small>
                            p.support-item__subtitle И владельцев франшизы в ЦКФ Москвы — интенсив по 1-2 выбранным блокам

                        .support-item
                            h3.support-item__title Онлайн-курсы <br><small>и уроки</small>
                            p.support-item__subtitle По главным ошибкам предпренимателей с «отработкой в полях»

                        .support-item
                            h3.support-item__title Сертификация <br><small>деятельности</small>
                            p.support-item__subtitle По требованиям Ропотребнадзора, охрана труда, пожарная безопасность, кадровая политика

                        .support-item
                            h3.support-item__title Тренинги <br><small>для руководителей</small>
                            p.support-item__subtitle Продажи, сервис, маркетинг, SMM, партнёрки, переговоры / работа с возражениями, конфликтология, стиль/дизайн/интерьер, арома-маркетинг, автоматизация, IT-сервисы.

            section.section#guide
                .section__header
                    header.section-header
                        h2.section-header__title Руководство по&nbsp;открытию
                        p.section-header__subtitle Материалы франшизы

                .section__content
                    .content
                        h3 Руководство по&nbsp;открытию барбершопа
                        p В начале сотрудничества <em>каждый партнёр получает Руководство по открытию барбершопа, в котором последовательно и подробно расписан каждый этап:</em> поиск помещения, ремонт, подготовка графических материалов, реклама, открытие и прочее.
                        p Это удобный способ хранить под рукой все важные контакты и инструкции. <em>Руководство доступно оффлайн и изначально создано в печатном варианте. В электронной версии доступны для перехода ссылки на разделы Облака</em> со всеми актуальными материалами франшизы.

                        h3 Руководство по ведению социальных сетей
                        p Руководство по ведению соцсетей <em>содержит обобщённую и кратко изложенную информацию о методах оформления и продвижения групп в Instagrame, ВКонтакте и Facebook.</em> В этом документе собраны и поэтапно расписаны наиболее эффективные и популярные способы рекламы вашего барбершопа, включая оформление шапки, аватаров, видеообложки, загрузку видео и сторис. А то, чего нет в данном руководстве, можно узнать у нашей команды, ведь тренды не стоят на месте.

                    .slider
                        h3.featured-title Оригинальный PDF-документ содержит более 80-ти&nbsp;страниц
                        p.featured-subtitle Который можно неспешно изучить и&nbsp;пересмотреть в&nbsp;любой момент. Мы ценим ваше время.

                        //- сюда добавить слайдер

                    .content
                        h3.featured-title Маркетинг и&nbsp;реклама
                        p <em>Каждому франчайзи мы предоставляем доступ к обширной базе материалов для рекламы и продвижения барбершопа.</em>
                        p В эту базу входит полиграфия всех видов, разноплановые материалы для рекламы в СМИ — в том числе видео, сценарии аудиороликов, анимированные баннеры и актуальный список Топ-промоакций. <em>Помимо этого, мы всегда готовы предоставить помощь копирайтера и медиа-дизайнера для разработки особых методов продвижения.</em> Мы не ограничиваем свободу франчайзи, каждый из них может выбрать свою маркетинговою стратегию и обратиться к команде OldBoy для создания нового или адаптации существующего предложения под нужды своего филиала. Наша команда постоянно дополняет и обновляет базу рекламных материалов в соответствии с изменениями рынка, и не ограничивается существующими методами рекламы.


                    .slider
                        p.featured-subtitle Внешний и внутренний дизайн, фотографии, видео, моушн-графика, красивая верстка, хороший текст, инфографика — совместный труд целой команды, который требует много времени и сил. Всё это мы предоставим вам для развития вашего барбершопа.
                        .card
                            h4.card__title Печатная продукция
                            .card__content
                                .ad-content
                                    p.ad-content__headline <em>Наша база полиграфии, готовой к печати,</em> <br>настолько выросла за время существования сети, что не вмещается в хранилище объёмом 100 гб.
                                    p.ad-content__desc Команда дизайнеров постоянно мониторит новые актуальные тренды, регулярно создаёт макеты к календарным праздникам и важным событиям, а также иногда добавляет забавные интересные материалы — просто так, ведь те, кто к нам приходит, хотят получать яркие приятные эмоции, а не только видеть красивую рекламу.
                        .card
                            h4.card__title Уникальный контент
                            .card__content
                                .ad-content
                                    p.ad-content__headline <em>Многие из филиалов приглашают и включают в штат профессиональных фотографов,</em> <br>но если у вас нет такой возможности, есть простое и эффективное решение — облако с готовыми снимками.
                                    p.ad-content__desc Также вы можете научиться создавать отличный контент для публикаций благодаря нашей инструкции.


            section.section#barbers
                .section__header
                    header.section-header
                        h2.section-header__title Персонал барбершопа
                        p.section-header__subtitle Ваши барберы


                .section__content
                    p.section__shadow-text Барберы Oldboy

                    .content
                        h3 Униформа барберов
                        p Все мастера барбершопов носят единую униформу OldBoy Barbershop. <em>Это фирменные фартуки из добротной джинсовой ткани с вышитым логотипом OldBoy, а также карманами различной формы, где можно удобно разместить инструменты.</em> Это позволяет держать их под рукой во время работы.
                        p Наши стильные и крутые фартуки очень нравятся гостям. <em>Даже внутренняя команда сети — те парни и девушки, что не являются барберами — мечтают получить такой фартук в подарок.</em>

                    .content.content--center
                        //-             Top-Барбер
                        //-             Oldboy
                        //-             Barbershop

                        h3 <em>Признак высшего мастерства в нашей сети&nbsp;—&nbsp;звание топ&nbsp;-&nbsp;барбера</em>
                        p Мы не просто учимся быть лучше, но и передаём свои знания новичкам. В 2018 году открылась Академия OldBoy, в которой любой барбер может улучшить навыки и получить соответствующий сертификат. К нам приходят не только сотрудники сети, но и мастера из других барбершопов. Это значит, что нам доверяют и нас уважают коллеги.

                    .content
                        h3 Подтверждение и&nbsp;повышение квалификации барберов
                        p Все наши мастера имеют соответствующее образование и опыт работы, но не останавливаются на достигнутом. <em>Барберы проводят и посещают мастер-классы — в том числе в других городах, делятся опытом и поддерживают связь с профессиональным сообществом.</em>
                        p При открытии наш ведущий мастер, имеющий сертификат «American Crew», брэнд-менеджер сети OldBoy Barbershop, обучающий тренер и гуру барберинга лично проведёт в вашем филиале мастер-класс. <em>Он приедет в любой город за наш счет, чтобы поделиться опытом и посвятить ваших мастеров в нюансы особой атмосферы OldBoy.</em>

                    .content
                        h3 Стандарты качества <small>и&nbsp;внутренний реглмамент</small>
                        p Каждый барбер, встречая гостя в барбершопе, с радостью подтвердит свою квалификацию и высшее мастерство, поэтому "тайные покупатели" для нас — это просто новый увлекательный вызов. Барберы и тату-мастера регулярно проходят медицинский осмотр, следуют строгим правилам поведения на рабочем месте и следят за гигиеной и своим внешним видом.
                        p При всей строгости правил работы мы не требуем от мастеров и сотрудников Управляющей компании поддержания минималистичного офисного стиля в одежде. Каждый лично выбирает подходящий ему образ и чувствует себя свободно и комфортно, а самое главное — собой, и поэтому готов целиком сосредоточиться на своих обязанностях.

                    .content
                        h3 Премиум-услуги <small>наших&nbsp;мастеров</small>
                        p <em>В арсенале наших барберов присутствует премиальная услуга — «Королевское бритьё с Truefitt&nbsp;&amp;&nbsp;Hill».</em>
                        p Это привилегированная марка мужской косметики, обслуживающая Королевский Двор в Англии с 1805 года. Эта услуга позволит вам подкрепить престиж барбершопа и повысить доверие к мастерам, а гости будут чувствовать себя поистине по-королевски. Мы отлично знаем, что стрижки и бритьё в исключительной комфортной атмосфере — именно то, за чем люди приходят и возвращаются в наши барбершопы.

            section.section#management
                .section__header
                    header.section-header
                        h2.section-header__title Yclients <br>и&nbsp;CRM
                        p.section-header__subtitle Менеджмент


                .section__content
                    p.section__shadow-text <strong>CRM</strong>

                    .content
                        h3 Управление франшизой
                        p <em>Мы подключаем для вашего барбершопа мобильное приложение, CRM-систему учёта и онлайн-запись YCLIENTS.</em>
                        p Вы всегда сможете наблюдать через приложение за суммой в кассе, количеством записей клиентов и объёмом проданного товара. CRM-система учёта полностью исключает возможность воровства сотрудников. Мы за свой счёт вносим абонентскую плату CRM-системы и несём все расходы на поддержку онлайн-сервисов (моб. приложение, сайт).

                        .app-promo
                            h3.app-promo__title Управляйте барбершопом с&nbsp;телефона
                            p.app-promo__subtitle Наши барбершопы оснащены всеми необходимыми системами автоматизации процессов

                        .content
                            .feature
                                .feature__icon: img(src="./img/icons/network.svg", alt="")
                                h3.feature__title Клиентская база
                                p.feature__desc Cо статистикой и&nbsp;историей посещений помогает не&nbsp;терять постоянных клиентов
                            
                            .feature
                                .feature__icon: img(src="./img/icons/timetable.svg", alt="")
                                h3.feature__title Электронный журнал
                                p.feature__desc Pаписей клиентов с&nbsp;функцией SMS&nbsp;и&nbsp;e&nbsp;-&nbsp;mail напоминания

                            .feature
                                .feature__icon: img(src="./img/icons/finance.svg", alt="")
                                h3.feature__title Онлайн запись
                                p.feature__desc Помогает не&nbsp;упускать новых клиентов и&nbsp;обелегчает работу администратора

                            .feature
                                .feature__icon: img(src="./img/icons/smartphone.svg", alt="")
                                h3.feature__title Мобильное приложение
                                p.feature__desc Использует для записи более 45% клиентов

                            .feature
                                .feature__icon: img(src="./img/icons/analytics.svg", alt="")
                                h3.feature__title Полная Статистика
                                p.feature__desc Позволяет следить за&nbsp;ключевыми показателями бизнеса

                            .feature
                                .feature__icon: img(src="./img/icons/razor.svg", alt="")
                                h3.feature__title Приложение Oldboy&nbsp;Barbershop
                                p.feature__desc #1 пос качиванию и&nbsp;использованию среди мобильных приложений барбершопов в&nbsp;России по&nbsp;версии РБК

                            .feature
                                .feature__icon: img(src="./img/icons/upload.svg", alt="")
                                h3.feature__title Расширение клиентской базы
                                p.feature__desc Через приложение (Android, IOS) клиенты будут записываться в&nbsp;ближайший филиал —&nbsp;это&nbsp;будет именно ВАШ филиал. Таким образом мы обеспечиваем вас клиентами уже в&nbsp;первый месяц после открытия

                            .feature
                                .feature__icon: img(src="./img/icons/barber.svg", alt="")
                                h3.feature__title Выбор мастера онлайн, даты и&nbsp;времени
                                p.feature__desc Удобный интерфейс позволит парой кликов записаться в&nbsp;барбершоп даже самым убеждённым интровертам

                        .content
                            h3.featured-title Крупные скидки
                            p.featured-subtitle Для наших партнёров
                            p <em>Мы сотрудничаем только с теми поставщиками, которые хорошо себя зарекомендовали, и с готовностью поделимся их контактами с нашими новыми франчайзи</em>, ведь успех вашего филиала — успех всей сети. Благодаря поддержанию дружеских отношений с другими фирмами нам доступны лучшие предложения и скидки при покупке оборудования, косметики и инструментов от производителей. Это поможет вам сэкономить более 200 000 рублей на старте. Разумеется, вы всегда можете выбрать и заказать инструменты и косметику сами, но мы гарантируем, что более выгодных цен просто нет.

                        .content
                            .saving-promo
                                h3.saving-promo__title Экономия на старте <em>для партнёров Oldboy&nbsp;Barbershop более</em> <span class="">200&nbsp;000&nbsp;₽</span>
                                p.saving-promo__subtitle На покупку оборудования и&nbsp;косметики

            section.section#stages
                .section__header
                    header.section-header
                        h2.section-header__title Франшиза <br>Oldboy
                        p.section-header__subtitle Живая система

                .section__content
                    p.section__shadow-text.shadow-text--beige Family
                    p.section__shadow-text.shadow-text--dark <strong>Франшиза Oldboy</strong> Barbershop

                    .content
                        p Мы постоянно говорим о том, что можно гарантированно получать прибыть при открытии филиала. <em>Главное — максимально грамотно выстроить управление бизнесом и следовать проверенной стратегии.</em> И всё же нельзя забывать о том, что мир не стоит на месте, и хороший предприниматель понимает, что любой бизнес требует вложений времени, средств и энергии. <em>Недостаточно просто купить франшизу и пустить дела в барбершопе на самотёк, чтобы он развивался без вашего участия.</em> Наши франчайзи лично следят за показателями, много времени проводят в барбершопе, общаются с клиентами и продумывают способы продвижения.
                        
                        p Для нас важно, чтобы вы видели в OldBoy Barbershop, если не дело всей своей жизни, то, по крайней мере, одну из главных её частей. <em>OldBoy Family — это сообщество единомышленников, сплочённых общим делом.</em> Если вы готовы стать частью нашей семьи, мы вам рады!

                    //- 10
                    //- Шагов для открытия филиала oldboy barbershop в вашем городе
                    
                    .stage-list
                        .stage-list__header
                            h3.featured-title Этапы открытия
                            p.featured-subtitle Oldboy Barbershop в&nbsp;вашем городе:
                        
                        .stage-list__content
                            article.stage-item
                                .stage-item__header
                                    h4.stage-item__title 01. Подписание договора
                                    p.stage-item__subtitle
                                .stage-item__content
                                    p Договор обычно заключается дистанционно
                                    p Если же Вы решите прилететь к нам в город (управляющая компания находится в г. Калининград), мы организуем Вам чартер и экскурсию по нашим барбершопам — покажем вам как работает бизнес изнутри. Договор можно заключить как для физических, так и для юридических лиц. Кроме того, на связи с вами всегда будет юрист от нашей команды, который поможет в любом вопросе по открытию и работе барбершопа.

                            article.stage-item
                                header.stage-item__header
                                    h4.stage-item__title 02. Поиск помещения
                                    p.stage-item__subtitle
                                .stage-item__content
                                    p В период поиска помещения в вашем городе мы предоставляем критерии и всячески содействуем в процессе. Основатель сети OldBoy Barbershop вместе с командой дизайнеров и маркетологов будет оценивать каждый предложенный вариант, и даст обоснованную оценку рентабельности помещения, взвешивая все плюсы и минусы.
                                    p Для каждого филиала мы выделяем территорию радиусом 2 км., даже если на город не был выкуплен эксклюзив. Это особенно актуально для Москвы и Санкт-Петербурга. Помещения для других партнёров в этом радиусе мы просто не согласуем.

                            article.stage-item
                                header.stage-item__header
                                    h4.stage-item__title 03. Создание дизайн-проекта
                                    p.stage-item__subtitle
                                .stage-item__content
                                    p После утверждения помещения, дизайнер интерьера разрабатывает проект будущего барбершопа. Имея за плечами опыт более полусотни проектов, он знает все тонкости: от правильного расположения розеток до таких моментов, как направление света, расстояние между креслами, и так далее.
                                    p На один проект интерьера у дизайнера уходит в среднем от 5 до 7 рабочих дней. Вы будете принимать комплексное участие в процессе, всегда поддерживая с ним связь. Мы учтём ваши пожелания, адаптируя их под корпоративный стиль компании.

                            article.stage-item
                                header.stage-item__header
                                    h4.stage-item__title 04. Ремонт помещения
                                    p.stage-item__subtitle
                                .stage-item__content
                                    p После получения дизайн-проекта со всеми данными: электросхемами, расположением водопровода, перечнем материалов, и пр., вам нужно будет изучить его и согласовать с дизайнером интерьера. После утверждения можно приступать к ремонту помещения с рабочей бригадой, которую вы найдёте в своем регионе.

                            article.stage-item
                                header.stage-item__header
                                    h4.stage-item__title 05. Передача бренда
                                    p.stage-item__subtitle
                                .stage-item__content
                                    p Мы скидываем вам полностью бренд-пак от визиток до подарочных сертификатов. Все макеты вы сможете использовать по своему усмотрению, а команда дизайнеров поможет оперативно адаптировать их под ваш филиал. В вашем распоряжении окажутся каталоги, руководства, и список поставщиков: от элементов декора до эксклюзивной косметики.
                                    p Кроме этого, благодаря Руководству у вас всегда будут под рукой контакты всех членов команды, к которым вы сможете обратиться за советом в любой момент. За время подготовки к открытию у вас будет возможность подробно изучить и подробно продумать каждый этап.

                            article.stage-item
                                header.stage-item__header
                                    h4.stage-item__title 06. Закупка оборудования
                                    p.stage-item__subtitle
                                .stage-item__content
                                    p Мы предоставим вам контакты всех наших проверенных поставщиков оборудования, инструментов и косметики. Мы не выступаем третьими лицами, накручивая наценку на необходимый для работы товар. Всё необходимое для открытия вы покупаете напрямую, используя наши максимальные скидки, лично изучая доступный ассортимент. Что лучше выбрать — решаете вы.
                                    p Мы не ограничиваем вас в выборе, а лишь даем рекомендации. Если вы вдруг найдёте варианты дешевле (в чём мы сомневаемся☺), вы лично сможете решить, что лучше, и приобрести это самостоятельно.
                                    
                            article.stage-item
                                header.stage-item__header
                                    h4.stage-item__title 07. Подключение сервисов
                                    p.stage-item__subtitle
                                .stage-item__content
                                    p Сервис Yclients будет оплачен компанией OldBoy Barbershop. Мы предоставим вам необходимый доступ, добавим ваш город в онлайн-приложение для телефона, в группу ВКонтакте и на официальный сайт. Вас и ваших администраторов полностью обучат, как настраивать и использовать систему. Благодаря Yclients администратор сможет избежать погрешностей человеческого фактора. Таким образом он может сэкономить до 60 часов неделю он уделить их действительно важному делу — заботе о клиентах.

                            article.stage-item
                                header.stage-item__header
                                    h4.stage-item__title 08. Поиск мастеров
                                    p.stage-item__subtitle
                                .stage-item__content
                                    p Мы начинаем заниматься поиском мастеров в вашем городе, делаем это самостоятельно и всю ответственность берем на себя. Мы ищем мастеров через социальные сети, по объявлениям, вытягиваем тех, кто работает на дому, а также предлагаем работу мастерам из других барбершопов. Ведем переговоры и обмениваемся информацией. Мастеров ищем опытных, специализирующихся на мужских стрижках и бритье.
                                    p После этого резюме и портфолио кандидатов изучает наш ведущий барбер и даёт комментарий относительно их профессиональных навыков, но утверждаете мастеров лично вы — последнее слово всегда остаётся за владельцем.

                            article.stage-item
                                header.stage-item__header
                                    h4.stage-item__title 09. Реклама в соц.сетях
                                    p.stage-item__subtitle
                                .stage-item__content
                                    p Наша команда начинает раскручивать ваш барбершоп в социальных сетях, не отвлекая вас. Мы занимаемся группой ВКонтакте и Instagram аккаунтом. Мы подогреваем ажиотаж вокруг готовящегося открытия OldBoy Barbershop в вашем городе. Выкладываем фото, пишем и публикуем тексты, занимаемся целевой рекламой в соцсетях. Это значительно экономит ваше время.

                            article.stage-item
                                header.stage-item__header
                                    h4.stage-item__title 10. Обучение мастеров и открытие
                                    p.stage-item__subtitle
                                .stage-item__content
                                    p Наш ведущий барбер, амбассадор OldBoy, обладающий статусом технолога American Crew вылетает к вам в город. Во время визита он проводит кастинг мастеров, мастер-классы и, знакомит вас с философией и нюансами работы OldBoy Barbershop.
                                    p Общение, обмен опытом, обучение технологии королевского опасного бритья, а также семинар по правильному использованию мужской косметики — всё это есть в арсенале нашего мастера. Он поможет вам провести открытие и создать правильную атмосферу. Кроме того, ведущий мастер присоединится к вашим барберам и наравне с ними подстрижет и побреет ваших клиентов на открытии.

            section.section#requirements
                .section__header
                    header.section-header
                        h2.section-header__title Что <br>необходимо
                        p.section-header__subtitle Для&nbsp;открытия

                .section__content
                    p.section__shadow-text.shadow-text--dark Условия

                    .sales-contact
                        h3.sales-contact__title Отдел продаж франшизы Oldboy
                        a(href="tel:+79118660079").sales-contact__phone +7(911) 866-00-79
                        p.sales-contact__name Ирина

                    .content
                        h3 Минимальный бюджет:

                        .indicator
                            .indicator__value 1.3 — 1.4 млн. руб (₽)
                            .indicator__desc Включая поушальный взнос
                            .indicator__icon: img(src="./img/icons/coins.svg", alt="")

                        .indicator
                            .indicator__value 1.4 — 1.6 млн. руб (₽)
                            .indicator__desc Бюджет для <em>Москвы и Санкт-Петербурга</em>
                            .indicator__icon: img(src="./img/icons/change.svg", alt="")
                        
                        h3 Сроки:

                        .indicator
                            .indicator__value От 35 до 45 дней
                            .indicator__desc Для открытия филиала
                            .indicator__icon: img(src="./img/icons/appointment.svg", alt="")

                        .indicator
                            .indicator__value 9 месяцев
                            .indicator__desc Срок окупаемости филиала
                            .indicator__icon: img(src="./img/icons/event.svg", alt="")
                        
                    .content
                        .card
                            h4.card__title Что входит в&nbsp;стоимость
                            .card__content
                                ol
                                    li Оформление документации
                                    li Создание дизайн-проекта
                                    li Закупка кресел и прочей мебели, инстументов и косметики
                                    li Затраты на маркетинг
                                    li Подключение CRM системы
                                    li Аренда помещения
                                    li Ремонтные работы
                                    li Подготовка рекламной продукции и полиграфии
                                    li Помощь в поиске персонала
                                    li Подключение сайта

                        .card
                            h4.card__title Требования к&nbsp;помещению
                            .card__content
                                ul
                                    li Парикмахерская без тату-зоны: <em>35—100 кв.м.</em>;
                                    li Парикмахерская с тату-зоной: <em>60—120 кв.м.</em>;
                                    li Мы рассматриваем <em>только первые этажи</em>, но также <em>и торговые центры</em>. Центр города не обязателен, можно выбрать и спальный район, главное, чтобы это было <em>проходное место</em>;
                                    li <em>Помещения в Москве и Санкт-Петербурге</em> необходимо будет рассмотреть вместе с менеджером по продаже франшизы, руководствуясь картой филиалов;
                                    li Потолки <em>от 2.8м.</em>;
                                    li Наличие водопровода;
                                    li Мощность электроэнергии <em>от 10квт</em>.

                    h3.featured-title Вы готовы открыть свой барбершоп Oldboy?
                    p.featured-subtitle Если в вашем городе ещё нет барбершопа OldBoy, это лишь вопрос времени! Поторопитесь, ведь, возможно, сейчас кто-то тоже читает эту презентацию и готовится открыть своё дело.


        //- footer
        //-     .footer__content
        //-         Политика организации в отношении обработки персональных данных на сайте

        //-         Направляя свои персональные данные пр указанным эл. адресам и телефонам, я даю своё согласие на обработку персональных данных.

        //-         Оставить заявку на открытие барбершопа: +7 911 457 00 00
        //-         Остались вопросы, напишите нам: info@oldboyfamily.ru

        //-         &copy; 2019 oldboy barbershop

        .cities-popup
