<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Oldboy Franchise
        link(rel="stylesheet", href="styles.css")

    body
        header
            Открой свою мужскую парикмахерскую

        main
            section.section
                .section__header
                    header.section-header
                        h2.section-header__title
                        p.section-header__subtitle

                .section__content


            section.section
                .section__header
                    header.section-header
                        h2.section-header__title Немного истории
                        p.section-header__subtitle Oldboy Barbershop

                .section__content
                    EST. 2014
                    Открытие первого филиала в Калининграде

                    2015
                    Год запуска франчайзинга

                    2018-2019
                    К нам присоединились: Киргизия, Кипр, Сербия, Грузия, Испания, Туркменистан, Азербайджан, Черногория и Польша.

            section.section
                .section__header
                    header.section-header
                        h2.section-header__title
                        p.section-header__subtitle

                .section__content



        footer