<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Oldboy Franchise
        link(rel="stylesheet", href="styles.css")
    body
        h1 Hello Oldboy!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p.red Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.
        p.red Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, enim facere? Voluptate voluptatem natus consequuntur laboriosam ullam, hic rem nostrum doloremque ratione fuga optio harum numquam deleniti voluptates. A, neque.