@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html {
  color: #4f5362;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 14px; }
  @media (min-width: 700px) {
    html {
      font-size: 16px; } }

body {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: border-box; }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/subset-Montserrat-Black.woff2") format("woff2"), url("./fonts/subset-Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/subset-Montserrat-SemiBold.woff2") format("woff2"), url("./fonts/subset-Montserrat-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/subset-Montserrat-Regular.woff2") format("woff2"), url("./fonts/subset-Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Rex';
  src: url("./fonts/Rex-Bold.woff2") format("woff2"), url("./fonts/Rex-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Rex Bold Inline';
  src: url("./fonts/subset-RexBoldInline.woff2") format("woff2"), url("./fonts/subset-RexBoldInline.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

.header {
  padding: 20px;
  margin-bottom: 50px;
  overflow-x: hidden; }

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-right: 50px; }

.header__logo {
  width: 95px; }

.header__logo svg {
  max-height: 100%;
  max-width: 100%; }

.header__menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 777;
  width: 100%;
  max-width: 400px;
  opacity: 0.9;
  transition: all 0.3s ease-out; }
  .header__menu--hidden {
    right: -110%; }

.header__content {
  position: relative;
  padding-top: 40px; }

.header__shadow-text {
  position: absolute;
  left: -10vw;
  top: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  color: #f7f7f7;
  font-size: 15vw;
  font-weight: 900;
  line-height: 0.9;
  text-transform: uppercase; }

.header__shadow-text strong {
  font-size: 1.5em; }

.header__button {
  margin-top: 20px; }

.header__aside {
  margin-bottom: 60px; }

.header-caption {
  margin: 0;
  padding: 0;
  font-family: "Rex", Arial, Helvetica, sans-serif;
  font-size: 8vw;
  line-height: 1.2em; }

.header-caption strong {
  display: inline-block;
  margin-left: -0.04em;
  color: #d6a354;
  font-size: 2.51em; }

.header-caption em {
  font-size: 1.1em;
  font-style: normal;
  letter-spacing: 0.008em; }

.city-select {
  position: relative;
  color: #4f5362;
  font-family: "Rex", Arial, Helvetica, sans-serif;
  text-decoration: none; }

.city-select::before {
  content: "";
  position: absolute;
  transform: translateX(-110%);
  height: 100%;
  width: 28px;
  background-image: url("./img/deco/place.svg");
  background-repeat: no-repeat;
  background-position: top right; }

.city-select em {
  color: #d6a354;
  font-style: normal; }

.city-select__triangle {
  display: inline-block;
  vertical-align: top;
  transform: scaleY(0.75) translateY(-0.1em); }

.menu-button {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 888;
  height: 48px;
  width: 48px;
  background-color: rgba(79, 83, 98, 0.5);
  border: 2px solid #d6a354;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.25s ease-out; }
  @media (min-width: 700px) {
    .menu-button {
      right: 33px;
      top: 45px; } }
  @media (min-width: 1000px) {
    .menu-button {
      display: none; } }

.menu-button::before,
.menu-button__middle,
.menu-button::after {
  position: absolute;
  left: 11px;
  height: 3px;
  width: 22px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.3s ease-out;
  transform-origin: center left; }

.menu-button::before {
  content: "";
  top: 14px; }

.menu-button__middle {
  top: 21px; }

.menu-button::after {
  content: "";
  top: 28px; }

.menu-button--close .menu-button__middle {
  width: 0;
  opacity: 0; }

.menu-button--close::before {
  left: 14px;
  top: 13px;
  transform-origin: left center;
  transform: rotate(45deg);
  width: 23px; }

.menu-button--close::after {
  left: 14px;
  top: 29px;
  transform-origin: left center;
  transform: rotate(-45deg);
  width: 23px; }

.button {
  display: inline-block;
  vertical-align: top;
  padding: 0 2rem;
  color: #4f5362;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  line-height: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #d6a354;
  border-radius: 1.5rem;
  border-radius: calc(1.5rem + 4px);
  background-color: #ffffff; }

.call {
  position: relative;
  transform: skewY(-15deg);
  width: 220px;
  margin-left: auto;
  margin-right: -20px;
  padding: 15px 21px;
  color: #ffffff;
  font-family: "Rex", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.05;
  text-align: right;
  background-color: #d6a354;
  text-shadow: -2px 2px 0 #896322;
  box-shadow: -15px 10px 40px -10px rgba(79, 83, 98, 0.5); }

.call small {
  display: block;
  color: #4f5362;
  font-size: 0.75em;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.5); }

.call strong {
  display: block;
  font-size: 1.5em; }

.call__rub {
  position: relative; }

.call__rub::after {
  content: "";
  position: absolute;
  bottom: 14px;
  left: 1px;
  height: 3px;
  width: 12px;
  background-color: #ffffff; }

.call__rub::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: -1px;
  z-index: -2;
  height: 3px;
  width: 12px;
  background-color: #896322; }

.call__title {
  background-color: #d6a354;
  text-shadow: -3px 2px 0 #896322; }

.call::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  z-index: -1;
  transform: rotateY(180deg);
  height: 100%;
  width: 25px;
  background-image: url("./img/deco/gold-v-grunge.svg");
  background-size: 60px;
  background-repeat: repeat-y;
  background-position: bottom right; }

.achievements {
  display: flex;
  justify-content: center; }

.achievements__item {
  height: 70px;
  width: 70px;
  margin-right: 10px; }

.achievements__item img {
  height: 100%;
  width: 100%; }

.achievements__text {
  max-width: 100px;
  color: #4f5362;
  font-family: "Rex", Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  font-weight: 900; }

.achievements__text em {
  color: #d6a354;
  font-style: normal; }

.section {
  margin-bottom: 60px; }

.section__header {
  margin-bottom: 80px; }
  @media (min-width: 700px) {
    .section__header {
      margin-bottom: 160px; } }

.section__content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px; }

.section__shadow-text {
  display: none; }

.section-header {
  transform: skewY(-15deg);
  width: 90%;
  max-width: 325px; }
  @media (min-width: 700px) {
    .section-header {
      max-width: inherit;
      width: 350px; } }
  @media (min-width: 1500px) {
    .section-header {
      width: 500px; } }

.section-header__title {
  position: relative;
  z-index: 2;
  margin: 0;
  margin-bottom: 0.25em;
  padding: 20px;
  color: #ffffff;
  font-family: "Rex", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  line-height: 1.25;
  background-color: #d6a354;
  box-shadow: -15px 10px 40px -10px rgba(79, 83, 98, 0.5);
  text-shadow: -3px 2px 0 #896322; }
  @media (min-width: 700px) {
    .section-header__title {
      padding: 20px 40px;
      font-size: 3rem;
      box-shadow: -5px 10px 15px 0 rgba(79, 83, 98, 0.25);
      text-shadow: -4px 3px 0 #896322; } }
  @media (min-width: 1500px) {
    .section-header__title {
      padding: 25px 50px;
      padding-left: 120px;
      font-size: 3.5rem; } }

.section-header__title::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 0;
  height: 100%;
  width: 25px;
  background-image: url("./img/deco/gold-v-grunge.svg");
  background-size: 60px;
  background-repeat: repeat-y;
  background-position: center right; }

.section-header__subtitle {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-grow: 20;
  flex-shrink: 1;
  margin: 0;
  width: 100%;
  color: #896322;
  font-family: "Rex", Arial, Helvetica, sans-serif;
  font-size: 1.75rem; }
  @media (min-width: 700px) {
    .section-header__subtitle {
      padding-right: 20px;
      font-size: 2rem; } }
  @media (min-width: 1000px) {
    .section-header__subtitle {
      padding-right: 40px;
      font-size: 1.5rem; } }
  @media (min-width: 1500px) {
    .section-header__subtitle {
      padding-right: 120px;
      padding-right: 110px;
      font-size: 2rem; } }

.section-header__subtitle::before {
  content: "";
  position: relative;
  left: -10px;
  top: 0.75rem;
  flex-grow: 1;
  flex-shrink: 20;
  height: 2px;
  margin-right: 5px;
  background-color: #896322; }
  @media (min-width: 700px) {
    .section-header__subtitle::before {
      top: 1rem;
      height: 3px; } }

.content h3 {
  font-family: "Rex", Arial, Helvetica, sans-serif;
  font-size: 1.5rem; }

.content p {
  margin: 0;
  margin-bottom: 1em;
  line-height: 1.75; }

.content p em {
  color: #d6a354;
  font-style: normal;
  font-weight: 700; }

.timeline {
  position: relative;
  padding: 20px; }
  @media (min-width: 700px) {
    .timeline {
      padding: 40px; } }

.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 2px;
  background-image: linear-gradient(rgba(242, 226, 201, 0), #f2e2c9, #f2e2c9, #f2e2c9, rgba(242, 226, 201, 0)); }
  @media (min-width: 700px) {
    .timeline::before {
      width: 3px; } }

.timeline__date {
  position: relative;
  margin-bottom: 0.25em;
  color: #d6a354;
  font-family: "Rex", Arial, Helvetica, sans-serif;
  font-size: 2.5rem; }
  @media (min-width: 700px) {
    .timeline__date {
      font-size: 3.5rem; } }

.timeline__date::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 0.5em;
  display: block;
  height: 6px;
  width: 6px;
  background-color: #d6a354;
  border-radius: 50%; }
  @media (min-width: 700px) {
    .timeline__date::before {
      left: -43px;
      height: 9px;
      width: 9px; } }

.timeline__desc {
  margin: 0;
  margin-bottom: 30px;
  line-height: 1.5; }

.timeline__desc strong {
  font-weight: 700;
  text-transform: uppercase; }

.sales-contact {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-family: "Rex", Arial, Helvetica, sans-serif;
  font-size: 2.39vw; }

.sales-contact__title {
  margin: 0;
  font-size: 2em; }
  @media (min-width: 700px) {
    .sales-contact__title {
      font-size: 1em; } }

.sales-contact__phone {
  color: #d6a354;
  font-size: 5em;
  text-decoration: none;
  transition: opacity 0.15s ease-out; }

.sales-contact__phone:hover {
  opacity: 0.5; }

.sales-contact__name {
  margin: 0;
  font-size: 2em;
  text-align: right; }
  @media (min-width: 700px) {
    .sales-contact__name {
      font-size: 1em; } }

.sales-contact__name::before {
  content: "— "; }

.indicator {
  position: relative;
  margin-bottom: 40px;
  min-height: 70px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-transform: uppercase; }
  @media (min-width: 700px) {
    .indicator {
      padding-left: 160px;
      min-height: 120px; } }

.indicator--card {
  margin: 0;
  padding: 20px;
  text-align: center; }
  .indicator--card .indicator__icon {
    position: relative;
    margin: 0 auto; }
  .indicator--card .indicator__desc {
    margin-bottom: 1rem; }

.indicator__value {
  color: #d6a354;
  letter-spacing: 0.025em;
  font-size: 2rem;
  font-weight: 900; }
  @media (min-width: 700px) {
    .indicator__value {
      font-size: 4rem; } }

.indicator__value small {
  display: inline-block;
  margin-left: -0.25em;
  font-size: 0.75em; }
  @media (min-width: 700px) {
    .indicator__value small {
      margin-left: -0.5em;
      font-size: 0.5em; } }

.indicator__desc {
  line-height: 1.5;
  letter-spacing: 0.025em;
  font-size: 0.8em;
  font-weight: 700; }
  @media (min-width: 700px) {
    .indicator__desc {
      font-size: 1em;
      font-weight: 400; } }

.indicator__desc em {
  color: #d6a354;
  font-style: normal; }

.indicator__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 60px; }
  @media (min-width: 700px) {
    .indicator__icon {
      height: 110px;
      width: 110px; } }

.indicator__icon svg {
  fill: #a8acb9; }

.indicator__note {
  color: #a8acb9;
  letter-spacing: 0.025em;
  line-height: 1.5;
  font-size: 0.8em;
  font-weight: 700; }

.card {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid rgba(168, 172, 185, 0.25);
  border-radius: 10px; }

.card__title {
  display: inline-block;
  padding: 10px;
  color: #ffffff;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #d6a354;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }

.card__content {
  padding: 10px; }

.feature {
  position: relative;
  margin-bottom: 40px;
  padding-left: 80px;
  transition: all 0.25s ease-out; }
  @media (min-width: 700px) {
    .feature {
      min-height: 300px;
      margin-bottom: 60px;
      padding: 30px; } }

@media (min-width: 700px) {
  .feature:hover {
    background-color: #333333; }
    .feature:hover .feature__icon {
      border-bottom: 2px solid transparent; }
    .feature:hover .feature__icon svg {
      bottom: 0;
      fill: #d6a354; }
    .feature:hover .feature__title {
      color: #ffffff; }
    .feature:hover .feature__desc {
      color: #d6a354; } }

.feature__icon {
  position: absolute;
  left: 3px;
  top: 0;
  height: 60px;
  width: 60px;
  transition: all 0.15s ease-out; }
  @media (min-width: 700px) {
    .feature__icon {
      position: relative;
      height: 130px;
      width: 160px;
      margin-bottom: 30px;
      overflow: hidden;
      border-bottom: 2px solid #a8acb9; } }

.feature__icon svg {
  fill: #a8acb9;
  transition: all 0.25s ease-out; }
  @media (min-width: 700px) {
    .feature__icon svg {
      position: absolute;
      left: 10px;
      bottom: -15px;
      transform: rotate(-15deg);
      height: 120px;
      width: 120px; } }

.feature__title {
  margin: 0;
  margin-bottom: 0.25em;
  color: #d6a354;
  font-family: "Rex", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.25;
  transition: all 0.25s ease-out; }
  @media (min-width: 700px) {
    .feature__title {
      font-size: 3rem; } }

.feature__title strong {
  font-size: 1.5em; }

.feature__desc {
  margin: 0;
  line-height: 1.5;
  transition: all 0.25s ease-out; }

.support-item {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 320px;
  text-align: center; }

h3.support-item__title {
  margin-bottom: 0.125em;
  color: #d6a354;
  font-size: 2rem; }

.support-item__subtitle {
  line-height: 1.5; }

h3.no-competition {
  font-size: 2rem; }

.no-competition em {
  display: block;
  color: #d6a354;
  font-size: 2em;
  font-style: normal; }

.no-competition strong {
  display: block;
  font-size: 1.5em; }

.branch {
  text-align: center; }

.branch__stats {
  margin-bottom: 30px; }

.branch__address {
  font-size: 0.8rem; }

.branch__stat {
  margin: 0;
  letter-spacing: 0.025em;
  line-height: 1.5;
  text-transform: uppercase; }

.branch__stat em {
  color: #d6a354;
  font-style: normal; }

.branch__desc {
  margin: 0;
  color: #d6a354;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.025em;
  text-transform: uppercase; }

.branch__value {
  margin: 0;
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 2; }

.branch__note {
  margin: 0;
  font-size: 0.8rem; }
