html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html {
  color: black;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 14px; }
  @media (min-width: 1200px) {
    html {
      font-size: 16px; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

*,
*::before,
*::after {
  box-sizing: border-box; }

@font-face {
  font-family: 'CormorantGaramond';
  src: url("./fonts/subset-CormorantGaramond-Bold.woff2") format("woff2"), url("./fonts/subset-CormorantGaramond-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'CormorantGaramond';
  src: url("./fonts/subset-CormorantGaramond-Medium.woff2") format("woff2"), url("./fonts/subset-CormorantGaramond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("./fonts/subset-Poppins-Light.woff2") format("woff2"), url("./fonts/subset-Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("./fonts/subset-Poppins-Medium.woff2") format("woff2"), url("./fonts/subset-Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("./fonts/subset-Montserrat-Regular.woff2") format("woff2"), url("./fonts/subset-Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/subset-Roboto-Bold.woff2") format("woff2"), url("./fonts/subset-Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/subset-Roboto-Regular.woff2") format("woff2"), url("./fonts/subset-Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("./fonts/subset-Ubuntu-Medium.woff2") format("woff2"), url("./fonts/subset-Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.header {
  margin-bottom: 100px;
  padding-bottom: 90px;
  padding-left: 120px;
  padding-right: 45px;
  padding-top: 60px;
  background: #e8e8e8;
  background: linear-gradient(75deg, #e8e8e8 50%, #82f4d3 50%); }

.header__top {
  padding-left: 150px; }

.header__menu {
  display: none; }

.header__content {
  position: relative; }

.header__image {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 515px; }

.header__image img {
  height: 100%;
  width: 100%; }

.logo {
  position: relative;
  margin: 0;
  color: #82f4d3;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-decoration: none; }

.logo span {
  color: #000000; }

.logo::before {
  content: '';
  position: absolute;
  left: 0;
  top: -6px;
  transform: translateX(-110%);
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("./img/logo.svg");
  background-repeat: no-repeat; }

.flagship {
  display: flex;
  margin-bottom: 100px;
  padding-left: 120px;
  padding-right: 215px; }

.flagship__wrapper {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75); }

.flagship__image {
  padding: 0 70px;
  background-color: #eeeded; }

.flagship_image img {
  height: 100%;
  width: 100%; }

.flagship__content {
  position: relative;
  width: 100%; }

.flagship__header {
  max-width: 625px;
  position: absolute;
  top: 40%;
  left: -5rem; }

.flagship__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: -65px;
  margin-top: 50px; }

.header-caption {
  padding-left: 100px; }

.header-caption__title {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 9rem;
  font-weight: 700; }

.header-caption__button {
  position: relative;
  z-index: 9;
  padding-left: 130px; }

.button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 40px;
  width: 180px;
  margin-bottom: 20px;
  padding: 0 20px;
  color: #000000;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.065rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #82f4d3;
  border: 2px solid #82f4d3;
  transition: all 0.25s ease-out; }
  .button--form {
    line-height: 46px; }

.button::before {
  content: "";
  position: absolute;
  right: 5px;
  top: 5px;
  height: 40px;
  width: 180px;
  border: 2px solid #82f4d3; }

.button a {
  text-decoration: none; }

.header-aside {
  display: flex;
  justify-content: space-between; }

.header-aside__text {
  max-height: 265px;
  color: #afafaf;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  transform: rotate(180deg);
  writing-mode: tb-rl; }

.header-aside__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.shoeshop-header__title {
  margin: 0;
  margin-bottom: 30px;
  color: #000000;
  font-family: "CormorantGaramond", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 500; }

.shoeshop-header__text {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #afafaf;
  font-size: 0.85rem;
  line-height: 1.5; }

.arrivals {
  margin-bottom: 100px;
  padding: 0 215px; }

.arrivals__items {
  display: flex;
  justify-content: space-between; }

.arrivals-item__image {
  position: relative;
  display: inline-block;
  flex-basis: 25%;
  margin-bottom: 60px;
  text-align: center; }

.arrivals-item__image:hover::before {
  opacity: 1; }

.arrivals-item__image:hover::after {
  opacity: 0.8; }

.arrivals-item__image::before {
  content: "View Details";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 10px;
  max-width: 150px;
  width: 50%;
  margin: auto;
  color: #e9e9e9;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  letter-spacing: 0.15rem;
  border: 1px solid #ffffff;
  opacity: 0;
  transition: ease-in-out 0.15s;
  z-index: 9; }

.arrivals-item__image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #82f4d3;
  border: 10px solid #e9e9e9;
  opacity: 0;
  transition: ease-in-out 0.2s;
  z-index: 1; }

.arrivals-item__image img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.arrivals-item__details {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2; }

.arrivals-item__name {
  margin: 0;
  margin-bottom: 25px;
  color: #000000;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500; }

.arrivals-item__name span {
  color: #afafaf; }

.arrivals-item__price {
  margin: 0;
  color: #afafaf;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600; }

.collection {
  margin-bottom: 100px;
  padding: 0 215px; }

.collection__content {
  display: flex;
  justify-content: space-between; }

.collection__header {
  max-width: 550px;
  padding-top: 155px; }

.collection__button {
  margin-top: 50px; }

.collection__wrapper {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75); }

.collection__image {
  background-color: #fde7ed; }

.quotes {
  position: relative;
  margin-bottom: 100px;
  padding: 80px 0;
  background-color: #f8f8f8; }

.quotes__prev {
  position: absolute; }

.quotes__next {
  position: absolute; }

.quote-item {
  max-width: 840px;
  margin: 0 auto;
  text-align: center; }

.quote-item__title {
  margin: 0;
  margin-bottom: 30px;
  color: #000000;
  font-family: "CormorantGaramond", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 500; }

.quote-item__text {
  margin: 0;
  margin-bottom: 35px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #afafaf;
  font-size: 0.85rem;
  line-height: 1.5; }

.quote-item__author {
  margin: 0;
  margin-bottom: 15px; }

.quote-item__position {
  margin: 0;
  color: #82f4d3; }

.blog {
  margin-bottom: 100px;
  padding: 0 215px; }

.blog__header {
  margin-bottom: 85px;
  text-align: center; }

.blog__content {
  display: flex;
  justify-content: space-between; }

.blog__descripton {
  max-width: 525px; }

.blog__button {
  margin-top: 65px;
  text-align: right; }

.container {
  max-width: 1920px;
  margin: 0 auto; }

.footer {
  padding: 0 215px; }

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf; }

.footer__contact {
  display: block;
  margin: 50px 0;
  color: #afafaf;
  text-align: right;
  text-decoration: none; }

.footer-menu {
  margin: 0; }

.footer-menu__item {
  margin-bottom: 15px;
  list-style-type: none; }

.footer-menu__link {
  margin: 0;
  color: #afafaf;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-decoration: none; }

.form__cta {
  margin: 0;
  margin-bottom: 30px;
  color: #afafaf;
  font-family: "Poppins", Arial, Helvetica, sans-serif; }

.form__wrapper {
  display: flex; }

.form__input {
  height: 50px;
  width: 300px;
  margin-right: 10px;
  text-align: center;
  border: 1px solid rgba(175, 175, 175, 0.1);
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
  color: #afafaf; }

.form__submit-btn {
  display: block;
  width: 100%;
  cursor: pointer; }

@font-face {
  font-family: 'icomoon';
  src: url("./fonts/icomoon.eot?zezhlj");
  src: url("./fonts/icomoon.eot?zezhlj#iefix") format("embedded-opentype"), url("./fonts/icomoon.ttf?zezhlj") format("truetype"), url("./fonts/icomoon.woff?zezhlj") format("woff"), url("./fonts/icomoon.svg?zezhlj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon--"],
[class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon--twitter:before {
  content: "\ea96"; }

.icon--facebook:before {
  content: "\ea90"; }

.icon--inst:before {
  content: "\ea92"; }

.icon--vk:before {
  content: "\e900"; }

.socials {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center; }

.socials__item {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: 15px;
  padding: 0; }

.socials__icon {
  display: block;
  height: 38px;
  width: 38px;
  margin: 0 5px;
  color: #e9e9e9;
  font-size: 0;
  line-height: 38px;
  text-decoration: none;
  background-color: #000000;
  border-radius: 50%;
  transition: all 0.25s ease-in-out; }
  .socials__icon::before {
    font-size: 1rem; }
  .socials__icon:hover {
    color: #82f4d3;
    background-color: #fbf6ee; }
